{
    "DJANGO_SECRET_KEY": "{{ django_secret_key }}",
    "DATABASE_ENGINE": "django.contrib.gis.db.backends.postgis",
    "DATABASE_NAME": "{{ db_name }}",
    "DATABASE_USER": "{{ db_user }}",
    "DATABASE_PASSWORD": "{{ db_password }}",
    "EMAIL_HOST": "{{ email_host }}",
    "EMAIL_PORT": "{{ email_port }}",
    "EMAIL_HOST_USER": "{{ email_host_user }}",
    "EMAIL_HOST_PASSWORD": "{{ email_host_password }}",
    "GOOGLE_MAPS_API_KEY": "{{ google_maps_api }}",
    "AUTH0_DOMAIN": "{{ auth0_domain }}",
    "AUTH0_KEY": "{{ auth0_key }}",
    "AUTH0_SECRET": "{{ auth0_secret }}",
    "CACHE_LOCATION": "{{ cache_location }}"
}